@{
    ViewBag.Title = "The Joel Hilton Film Collection";
}

<div class="text-center">
    <h1>Welcome</h1>
    <h6>-     to     -</h6>
    <h2>@ViewBag.Title</h2>
    <img src="~/JoelHilton.jpg" />

</div>
